<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="http://adaptedstudio.us2.list-manage.com/subscribe/post?u=38da7634211a6a151f671ce60&amp;id=66313b48ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <!--<h2>Subscribe to our mailing list</h2>-->
<div class="mc-field-group">
    <!--<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">-->
    <input type="email" id="mce-EMAIL" name="EMAIL" class="required email" value="" placeholder="enter your email" required autofocus />
</div>
<div class="mc-field-group">
    <!--<input type="text" value="" name="MMERGE1" class="required" id="mce-MMERGE1">-->
    <input id="mce-MMERGE1" name="MMERGE1" class="required" value="" placeholder="enter your age" required />
</div>
<div class="mc-field-group mc-mail-type input-group">
    <strong>Email Format </strong>
    <ul><li><input type="radio" value="html" checked="checked" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
<li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
<li><input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2"><label for="mce-EMAILTYPE-2">mobile</label></li>
</ul>
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->



<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://stayhonest.us2.list-manage.com/subscribe/post?u=199a36013c0411d7c354baaac&amp;id=8a9243287f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
    <label for="mce-MMERGE4-month">Birthday  <span class="asterisk">*</span>
</label>
    <div class="datefield">
        <span class="subfield monthfield"><input type="text" pattern="[0-9]*" value="MM" size="2" maxlength="2" name="MMERGE4[month]" id="mce-MMERGE4-month"></span> / 
        <span class="subfield dayfield"><input type="text" pattern="[0-9]*" value="DD" size="2" maxlength="2" name="MMERGE4[day]" id="mce-MMERGE4-day"></span> / 
        <span class="subfield yearfield"><input type="text" pattern="[0-9]*" value="YYYY" size="4" maxlength="4" name="MMERGE4[year]" id="mce-MMERGE4-year"></span>
        <span class="small-meta nowrap">( mm / dd / yyyy )</span>
        <div class="fake-date"><input type="hidden" class="required date" id="MMERGE4-fake-date" value=""></div>
    </div>
</div>
<div class="mc-field-group input-group">
    <strong>Terms and Conditions </strong>
    <ul><li><input type="checkbox" value="1" name="group[2281][1]" id="mce-group[2281]-2281-0"><label for="mce-group[2281]-2281-0">I hereby agree to all Terms and Conditions etc etc etc.</label></li>
</ul>
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->