
/* 

 #######  ##     ## ########      ######  ########  #######  ########  ##    ## 
##     ## ##     ## ##     ##    ##    ##    ##    ##     ## ##     ##  ##  ##  
##     ## ##     ## ##     ##    ##          ##    ##     ## ##     ##   ####   
##     ## ##     ## ########      ######     ##    ##     ## ########     ##    
##     ## ##     ## ##   ##            ##    ##    ##     ## ##   ##      ##    
##     ## ##     ## ##    ##     ##    ##    ##    ##     ## ##    ##     ##    
 #######   #######  ##     ##     ######     ##     #######  ##     ##    ##    */


/*
div.story-divider {
	position:relative;
	height:70px;
	background-repeat:no-repeat;
	margin-top:-30px;
}*/
div.story-divider {
	background-repeat: no-repeat;
	height: 160px;
	margin-bottom: 10px;
	margin-top: -10px;
	position: relative;
}

div.story-subhead p{
	margin:0px;
}
div.story-subhead a {
	text-decoration:none;
}
div.story-subhead, div.view-our-story h2{
	font-size:30px;
	text-align:center;
	font-weight:400;
	margin:0px;
	margin-bottom:14px;
	line-height:34px;
}
div.story-text {
	width:730px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
div.view-our-story {
	width:815px;
	margin-left:30px;
	margin-right:auto;
}

body.page-our-story #content {
	margin-left:15px;
}
body.page-our-story #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
	margin-top:27px;
}
body.node-type-game #content { margin-top:0px; }

body.node-type-accessory div.with-navigation #content,
body.node-type-doll div.with-navigation #content,
#content {
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
}

